﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/app/base/Html.js"></script>
    <script src="~/Scripts/app/base/Base.js"></script>
</head>
<body>
    <div class="menu-principal navbar navbar-fixed-top">
        <div class="container">
            <!--
            <div class="navbar-header">
                
                
            </div>
            -->
            <img src="~/Content/img/logo.jpg" class="navbar-brand logo" />
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Orientações", "Index", "Help", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Legislação", "Index", "Help", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Manual", "Index", "Help", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("FAQ", "Index", "Help", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Suporte", "Index", "Help", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Cadastro", "Index", "Help", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Pendentes", "Pendentes", "Propostas", new { area = "" }, null)</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            &copy; @DateTime.Now.Year SP-Urbanismo
        </footer>
    </div>

    <!-- Modal Mensagem Usuário -->
    <div class="modal fade" id="dlg-mensagem" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                </div>
                <div class="modal-body">
                    <p id="msg-usuario"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btn-msg-ok" class="btn btn-default" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
