﻿hr{
    border-color:#7AC;
    margin-top:1%;
    margin-bottom:3%;
}


div[id^=calculo-op-]{
    display:none;
}

.parametro-leitura{}

div[id^=etapa]{
    /*Fundo gradiente*/
    background: #dee5ef; /* For browsers that do not support gradients */  
    background: -webkit-linear-gradient(top, var(--start-bodybgcolor),var(--end-bodybgcolor) ); /*Safari 5.1-6*/
    background: -o-linear-gradient(bottom,var(--start-bodybgcolor),var(--end-bodybgcolor) ); /*Opera 11.1-12*/
    background: -moz-linear-gradient(bottom,var(--start-bodybgcolor),var(--end-bodybgcolor) ); /*Fx 3.6-15*/
    background: linear-gradient(to bottom, var(--start-bodybgcolor), var(--end-bodybgcolor) ); /*Standard*/
    padding:10px;
    border:2px  groove black;
}

div[id^=botoes]{
    margin:5px 0 1px 0;
}

.segundo-passo{
    display:none;
}

.marcador-etapa{
    margin-top:3px;
    max-width:50px;
    float:right;
}

hr[id^=link-etapa]{
    height:25px;
    visibility:hidden;
}

p.informativo{
    white-space:pre-wrap;
    font-size:smaller;
    text-align:justify;
    line-height:25px;
}

p.informativo ol{
    list-style-type:decimal;
}

p.informativo ul{
    list-style-type:disc;
}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('img/now_loading.gif') 50% 50% no-repeat rgb(249,249,249);
}