﻿body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left:100px;
    margin-right:50px;
}

tr{
    font-weight:bold;
    text-transform:uppercase;
}

td{
    font-size:12px;
    padding:10px 10px 5px 10px; 
}

hr{
    background-color:green;
    height:10px;
}

h1,h2,h3,h4,h5{
    text-align:left;
    font-weight:bold;
}

span{
    height:30px;
}
