﻿body {
    padding-top: 4%;
    padding-bottom: 2%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:10px;
}

h1, h2, h3, h4{
    padding:5px;
    text-align:center;
    font-weight:bold;
}

h1{
    font-size:18px;
}

h2{
    font-size:16px;
}

h3{
    font-size:14px;
}

h4{
    font-size:13px;
}

h5{
    font-weight:bold;
    font-size:12px;
}

p, pre{
    padding:3px;
    line-height:25px;
    font-size:10px;
}

.formula p{
    text-justify: inter-word;
    text-align:justify;
    padding:0;
    padding-left:20px;
}

.variaveis, .resultado{
    color:#77F;
}

.resultado{
    font-weight:bold;
}

.sub-titulo{
    color:#44E;
    font-style:italic;
    padding:5px;
}


