﻿:root{
    /* Definição de vars */
    --start-bodybgcolor: rgba(130,180,185,0.4);
    --end-bodybgcolor: rgba(130,165,175,0.1);
}

body {
    padding-top: 4%;
    padding-bottom: 2%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow:0 0 1px #777;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 2%;
    padding-right: 2%;
    background:url('img/vista-sp-edit.jpg') repeat-y #E5FAFF;
    
}

h1, h2, h3, h4, h5{
    font-family:'Eras ITC',Verdana, sans-serif;
    font-weight:bold;
}

h1, h2, h3, h4{
    padding-bottom:2%;
    text-shadow:0 1px 2px #777;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 250px;
}

.menu-principal{
    background-image:url(/Content/img/bg_top.png);
}

.menu-principal li{
    background-color:rgba(230, 230, 230, 0.85);
}

.menu-principal li > a{
    color:#225;
}

.logo{
    width:150px;height:50px;padding:0;margin:0;
    filter: alpha(opacity=80);
    opacity:0.8;
}

.quadro-titulo{
    padding:30px;
    margin:15px;
    font-weight:300;
    border-radius:6px;
    line-height:2.15;
    text-align: center;
}

.quadro-sub-titulo{
    margin:15px;
    text-align:center;
    font-size:15px;
    line-height:1.8;
}

.quadro-sub-titulo a{
    text-decoration:underline;
    font-style:italic;
}

.quadro-informativo{
    margin:5px 15px 5px 15px;
    text-align:justify;
    font-size:14px;
    line-height:1.9;
}

.titulo-agespraiada{
    background:purple;
    color:white;
}

.titulo-farialima{
    background:orange;
    color:white;
}

.btn-toggle-radio{
    margin:1px;
}

.btn-toggle-radio:active, .btn-toggle-radio:focus, .active.btn-toggle-radio {
    color:#FFF;
    background-color:#352;
    border-color:#010;
}

.btn-toggle-radio:hover{
    color:#FFF;
    background-color:#6A3;
    border-color:#010;
}

p[id^=link-passo-]{
    background-color:#99A;
    color:#EEE;
    font-weight:bold;
    padding:4px;
}

p[id^=link-passo-]:hover {
    cursor:pointer;
}

.primeiro-passo {

}

.segundo-passo{

}
