﻿@model OperacoesUrbanas.Models.FormulariosRelatorios.Calculo

    <div id="simulacao-agua-espraiada">

        <h2>SIMULAÇÃO DE CÁLCULO</h2>
        <h3>OUC ÁGUA ESPRAIADA</h3>

        <p>
            <b>ATENÇÃO:</b> Para instruir requerimentos de obtenção de Certidão de Pagamento de Outorga Onerosa em CEPAC, utilizar a Carta Modelo, Anexo I do Decreto nº 53.364/2012. Não utilizar esta Simulação de Cálculo, sob pena de indeferimento (§5º e item 1, da alínea “c”, do Art. 28, do Decreto nº 53.364/2012).
        </p>

        <hr />

        <h5>CÁLCULO DA QUANTIDADE DE CEPACs :</h5>

        <p class="sub-titulo">
            I - Potencial adicional de construção pelo aumento do coeficiente de aproveitamento - cálculo da área construída computável adicional
        </p>
        <div class="formula">
            <p>Aca = (Ato X Cproj) - (Ato X CB)</p>
            <p class="variaveis">Aca = (@Model.ato X @Model.caProjeto) - (@Model.ato X @Model.caBasico)</p>
            <p class="resultado">Aca = @Model.aca</p>
        </div>
        <p>
            <b>a)</b>Incentivos previstos no artigo 16 da Lei nº 13.260, de 2001, com as alterações posteriores, - remembramento de lotes:
        </p>
        <p>
            <b>a.1)</b> Inciso I do artigo 16: se lotes com área inferior a 2.000m² remembrados originarem área superior a 2.500m², I1 é dado por:
        </p>
        <div class="formula">
            <p>I1 = 10:100 X Área remembrada formada por lotes menores que 2.000m²</p>
            <p class="variaveis">I1 = 10:100 x @Model.armb</p>
            <p class="resultado">I1 = @Model.i1</p>
        </div>
        <p><b>a.2)</b>Inciso II do artigo 16: se lotes com área inferior a 2.000m² remembrados originarem área superior a 5.000m², I1 = [NÃO SE APLICA]</p>
        <p><b>b)</b>Incentivos previstos no artigo 17 da Lei nº 13.260, de 2001, - doação de faixa para alargamento de calçadas:</p>
        <div class="formula">
            <p>I2 = Atdc x 2</p>
            <p class="variaveis">I2 = @Model.atdc X 2</p>
            <p class="resultado">I2 = @Model.i2 m²</p>
        </div>
        <div class="formula">
            <p>Cálculo da quantidade necessária de CEPACs para construção adicional</p>
            <p>Qad = {Aca - (I1 + I2)} : F1</p>
            <p class="variaveis">Qad = {@Model.aca - [@Model.i1 + @Model.i2]} : @Model.f1</p>
            <p class="resultado">Qad = @Model.qad CEPACs</p>
        </div>

        <p class="sub-titulo">
            II - Modificação de uso de parâmetros
        </p>
        <div class="formula">
            <p>Cálculo da área do terreno referente:</p>
            <p>Atrmp = Ato - (Atdc + Atdmv)</p>
            <p class="variaveis">Atrmp = @Model.ato - [@Model.atdc + @Model.atdmv]</p>
            <p class="resultado">Atrmp = @Model.atrmp m²</p>
        </div>
        <div class="formula">
            <p>Cálculo da quantidade necessária de CEPACs para mudança de uso e parâmetros urbanísticos:</p>
            <p>Qmp = Atrmp : F2</p>
            <p class="variaveis">Qmp = @Model.atrmp : @Model.f2</p>
            <p class="resultado">Qmp = @Model.qmp CEPACs</p>
        </div>

        <p class="sub-titulo">
            III - Cálculo da quantida total de CEPACs
        </p>
        <div class="formula">
            <p>Cálculo da quantidade necessária de CEPACs para mudança de uso e parâmetros urbanísticos:</p>
            <p>Qt = Qad + Qmp</p>
            <p class="variaveis">Qt = @Model.qad + @Model.qmp</p>
            <p class="resultado">Qt = @Model.qt CEPACs</p>
        </div>

        <hr />

        <pre>
            Aca = Área construída adicional;
            Atrmp = Área do terreno referente para modificação de uso e parâmetros;
            Ato = Área de terreno anterior à doação de faixa para alargamento das calçadas e melhoramentos viários previstos na Lei n° 13.260, de 2001;
            Atdc = Área do terreno doada para alargamento das calçadas;
            ATdmv = Área do terreno doada para melhoramentos viários previstos na Lei nº 13.260, de 2001;
            CB = Coeficiente de aproveitamento básico previsto na legislação vigente;
            Cproj = Coeficiente de aproveitamento do projeto permitido pela Lei nº 13.260, de 2001 (Operação Urbana Consorciada Água Espraiada);
            F1 = Fator de conversão de área em CEPACs extraído da primeira coluna da tabela constante do “caput” do artigo 11 da Lei nº 13.260, de 2001;
            F2 = Fator de conversão de área em CEPACs extraído da segunda coluna da tabela constante do “caput” do artigo 11 da Lei nº 13.260, de 2001;
            I1 = Incentivos previstos no artigo 16 da Lei nº 13.260, de 2001;
            I2 = Incentivos previstos no artigo 17 da Lei nº 13.260, de 2001;
            Qt = Quantidade TOTAL de CEPACs;
            Qad = Quantidade necessária de CEPACs para construção adicional;
            Qmp = Quantidade necessária de CEPACs para mudança de uso e parâmetros urbanísticos
        </pre>      
            
    </div>
