﻿@model OperacoesUrbanas.Models.FormulariosRelatorios.Calculo

<div id="simulacao-faria-lima">

    <h2>SIMULAÇÃO DE CÁLCULO</h2>
    <h3>OUC FARIA LIMA</h3>

    <p>
        <b>ATENÇÃO:</b> Para instruir requerimentos de obtenção de Certidão de Pagamento de Outorga Onerosa em CEPAC, utilizar a Carta Modelo, Anexo I do Decreto nº 53.364/2012. Não utilizar esta Simulação de Cálculo, sob pena de indeferimento (§5º e item 1, da alínea “c”, do Art. 28, do Decreto nº 53.364/2012).
    </p>

    <hr />

    <h5>CÁLCULO DA QUANTIDADE DE CEPACs :</h5>

    <p class="sub-titulo">
        a) Potencial adicional de construção pelo aumento do coeficiente de aproveitamento
    </p>
    <div class="formula">
        <p><b>a.1)</b> cálculo da área construída computável adicional:</p>
        <p>Aca = (Ato X Cproj) - (Ato X CB)</p>
        <p class="variaveis">Aca = (@Model.ato X @Model.caProjeto) - (@Model.ato X @Model.caBasico)</p>
        <p class="resultado">Aca = @Model.aca</p>
    </div>
    <div class="formula">
        <p><b>a.2)</b> incentivos previstos do inciso I do artigo 13 da Lei nº 13.769, de 2004, alterada pela Lei nº 13.871, de 2004: remembramento de lotes com menos de 2.000m² (dois mil metros quadrados) que originarem lotes com mais de 2.500m² (dois mil e quinhentos metros quadrados:</p>
        <p>I1 = 20:100 X Ato*</p>
        <p class="variaveis">I1 = 20:100 x @Model.ato</p>
        <p class="resultado">I1 = @Model.i1</p>
    </div>
    <p><b>a.3)</b> incentivos previstos no inciso II do artigo 13 da Lei nº 13.769, de 2004, alterada pela Lei nº 13.871, de 2004, - área do pavimento térreo destinada à circulação e atividades de uso aberto ao público:</p>
    <div class="formula">
        <p>l2 = 20:100 X Ato</p>
        <p class="variaveis">I2 = 20:100 X @Model.ato</p>
        <p class="resultado">I2 = @Model.i2 m²</p>
    </div>
    <div class="formula">
        <p>Cálculo da quantidade necessária de CEPACs para construção adicional</p>
        <p>Qad = {Aca - (I1 + I2)} : F1</p>
        <p class="variaveis">Qad = {@Model.aca - [@Model.i1 + @Model.i2]} : @Model.f1</p>
        <p class="resultado">Qad = @Model.qad CEPACs</p>
    </div>

    <p class="sub-titulo">
        b) Uso misto, modificação de uso e de gabarito de edificação:
    </p>
    <div class="formula">
        <p>Cálculo da quantidade necessária de CEPACs para mudança de uso e parâmetros urbanísticos:</p>
        <p>Qmp = (Ato - Atd) : F2</p>
        <p class="variaveis">Qmp = (@Model.ato - @Model.atd)</p>
        <p class="resultado">Qmp = @Model.qmp m²</p>
    </div>

    <p class="sub-titulo">
        c) Taxa de ocupação
    </p>
    <div class="formula">
        <p>Aape = Ape - (50:100 X Ato)</p>
        <p class="variaveis">Aape = @Model.ape - (50:100 X @Model.ato)</p>
        <p class="resultado">Aape = @Model.aape m²</p>
    </div>
    <div class="formula">
        <p>Cálculo da quantidade necessária de CEPACs para aumento da taxa de ocupação</p>
        <p>Qto = Aape : F3</p>
        <p class="variaveis">Qto = @Model.aape : @Model.f3</p>
        <p class="resultado">Qto = @Model.qto m²</p>
    </div>

    <p class="sub-titulo">
        d) Cálculo da quantidade TOTAL de CEPACs:
    </p>
    <div class="formula">
        <p>Qt = Qad + Qmp + Qto</p>
        <p class="variaveis">Qt = @Model.qad + @Model.qmp + @Model.qto</p>
        <p class="resultado">Qt = @Model.qt CEPACs</p>
    </div>

    <hr />

    <pre>
            Aca = Área construída adicional;
            Atrmp = Área do terreno referente para modificação de uso e parâmetros;
            Ato = Área de terreno anterior à doação de faixa para alargamento das calçadas e melhoramentos viários previstos na Lei n° 13.260, de 2001;
            Atdc = Área do terreno doada para alargamento das calçadas;
            ATdmv = Área do terreno doada para melhoramentos viários previstos na Lei nº 13.260, de 2001;
            CB = Coeficiente de aproveitamento básico previsto na legislação vigente;
            Cproj = Coeficiente de aproveitamento do projeto permitido pela Lei nº 13.260, de 2001 (Operação Urbana Consorciada Água Espraiada);
            F1 = Fator de conversão de área em CEPACs extraído da primeira coluna da tabela constante do “caput” do artigo 11 da Lei nº 13.260, de 2001;
            F2 = Fator de conversão de área em CEPACs extraído da segunda coluna da tabela constante do “caput” do artigo 11 da Lei nº 13.260, de 2001;
            I1 = Incentivos previstos no artigo 16 da Lei nº 13.260, de 2001;
            I2 = Incentivos previstos no artigo 17 da Lei nº 13.260, de 2001;
            Qt = Quantidade TOTAL de CEPACs;
            Qad = Quantidade necessária de CEPACs para construção adicional;
            Qmp = Quantidade necessária de CEPACs para mudança de uso e parâmetros urbanísticos
        </pre>

</div>
