﻿
@{
    Layout = null;
}

<script src="~/Scripts/app/ValorParametro.js"></script>
<script src="~/Scripts/app/calculo/CalculoAguaEspraiada.js"></script>

<form action="@Url.Action("ImprimirSimulacao")" method="post" id="frm-simulacao-ae" role="form" class="form-horizontal">
    <input type="hidden" id="ae-idOperacaoUrbana" name="idOperacaoUrbana" value="1" />
    <div class="form-group">
        <label class="col-md-10 col-md-pull-2 control-label">
            POTENCIAL ADICIONAL DE CONSTRUÇÃO PELO AUMENTO DO COEFICIENTE DE APROVEITAMENTO?
        </label>
        <div class="radio col-md-2 col-md-offset-1">
            <label>
                <input type="radio" name="aumentoAproveitamento" id="aumentoAproveitamentoN" value="0" class="parametro-leitura" required>
                Não
            </label>
        </div>
        <div class="radio col-md-2">
            <label>
                <input type="radio" name="aumentoAproveitamento" id="aumentoAproveitamentoS" value="1" class="parametro-leitura" required>
                Sim
            </label>
        </div>
    </div>

    <div id="ae-calculo-qad" style="display:none;">

        <input type="hidden" id="ae-f1" name="f1" />
        <input type="hidden" id="ae-f2" name="f2" />

        <div class="form-group">
            <label class="col-md-2 control-label">CA Básico</label>
            <div class="col-md-3">
                <input type="text" id="ae-caBasico" name="caBasico" class="form-control" readonly />
                <input type="hidden" name="caBasico" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">CA Projeto</label>
            <div class="col-md-3">
                <input type="text" id="ae-caProjeto" name="caProjeto" class="form-control parametro-leitura" mask="tax" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Área do Terreno Original (Ato*)</label>
            <div class="col-md-3 input-group">
                <input type="text" name="ato" class="form-control" readonly />
                <input type="hidden" name="ato" />
                <span class="input-group-addon">m²</span>
            </div>
        </div>

        <h5>Cálculo da Área Construída Computável Adicional (ACA)</h5>

        <div class="form-group">
            <label class="col-md-12">ACA = (Ato X CA Projeto) - (Ato X CA Básico)</label>
            <div class="col-md-3">
                <input type="text" id="ae-aca" name="aca" class="form-control" readonly />
                <input type="hidden" name="aca" />
            </div>
        </div>

        <h4>I1 - Incentivo Remembramento</h4>

        <div class="form-group">
            <label class="col-md-2 control-label">Área Remembrada (ARMB)</label>
            <div class="col-md-3 input-group">
                <input type="text" id="ae-armb" name="armb" class="form-control parametro-leitura" mask="money" />
                <span class="input-group-addon">m²</span>
            </div>
        </div>

        <h5>Cálculo de Incentivo de Remembramento (I1)</h5>

        <div class="form-group">
            <label class="col-md-12">Armb < 2.500,00 -> I1 = 0 (NÃO SE APLICA)</label>
            <label class="col-md-12">Armb ≥ 2.500,00 -> I1 = { 10:100 x Armb }</label>
            <label class="col-md-12">Armb ≥ 5.000,00 -> I1 = { 20:100 x Armb }</label>
            <div class="col-md-3 input-group">
                <input type="text" id="ae-i1" name="i1" class="form-control" readonly />
                <input type="hidden" name="i1" />
                <span class="input-group-addon">m²</span>
            </div>
        </div>


        <h4>I2 - Incentivo de Doação de Calçada</h4>

        <div class="form-group">
            <label class="col-md-2 control-label">Área Terreno Doada para Alargamento De Calçada (ATDC)</label>
            <div class="col-md-3 input-group">
                <input type="text" id="ae-atdc" name="atdc" class="form-control parametro-leitura" mask="money" />
                <span class="input-group-addon">m²</span>
            </div>
        </div>

        <h5>Cálculo de Incentivo de Doação de Calçada (I2)</h5>

        <div class="form-group">
            <label class="col-md-12">I2 = ATDC * 2</label>
            <div class="col-md-3 input-group">
                <input type="text" id="ae-i2" name="i2" class="form-control" readonly />
                <input type="hidden" name="i2" />
                <span class="input-group-addon">m²</span>
            </div>
        </div>


        <h5>CÁLCULO DA QUANTIDADE NECESSÁRIA DE CEPACs PARA CONSTRUÇÃO ADICIONAL</h5>

        <div class="form-group">
            <label class="col-md-12">QAD = [Aca - (I1 + I2)] / F1</label>
            <div class="col-md-3 input-group">
                <input type="text" id="ae-qad" name="qad" class="form-control" readonly />
                <input type="hidden" name="qad" />
                <span class="input-group-addon">m²</span>
            </div>
        </div>
    </div>

    <hr />

    <div class="form-group">
        <label class="col-md-12">
            MODIFICAÇÃO DE USO E PARÂMETROS?
        </label>
        <div class="radio col-md-2 col-md-offset-1">
            <label>
                <input type="radio" name="modificacaoUso" id="modificacaoUsoN" value="0" class="parametro-leitura">
                Não
            </label>
        </div>
        <div class="radio col-md-2">
            <label>
                <input type="radio" name="modificacaoUso" id="modificacaoUsoS" value="1" class="parametro-leitura">
                Sim
            </label>
        </div>
    </div>

    <div id="ae-calculo-qmp" style="display:none;">


        <div class="form-group">
            <label class="col-md-2 control-label">Área Terreno Doada para Alargamento De Calçada (ATDC)</label>
            <div class="col-md-3 input-group">
                <input type="text" id="ae-atdc-2" class="form-control parametro-leitura" mask="money" />
                <span class="input-group-addon">m²</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Área do Terreno Atingida por Melhoramento Viário (ATDMV)</label>
            <div class="col-md-3 input-group">
                <input type="text" id="ae-atdmv" name="atdmv" class="form-control parametro-leitura" readonly />
                <input type="hidden" name="atdmv" />
                <span class="input-group-addon">m²</span>
            </div>
        </div>

        <h5>Área do Terreno Referente à Modificação de Uso e Parâmetros (ATRMP)</h5>

        <div class="form-group">
            <label class="col-md-12">Atrmp = Ato - (Atdc + Atdmv)</label>
            <div class="col-md-3 input-group">
                <input type="text" id="ae-atrmp" name="atrmp" class="form-control" readonly />
                <input type="hidden" name="atrmp" />
                <span class="input-group-addon">m²</span>
            </div>
        </div>

        <h5>CÁLCULO DA QUANTIDADE NECESSÁRIA DE CEPACs PARA MUDANÇA DE USO E PARÂMETROS URBANÍSTICOS (QMP)</h5>

        <div class="form-group">
            <label class="col-md-12">QMP = ATRMP / F2</label>
            <div class="col-md-3 input-group">
                <input type="text" id="ae-qmp" name="qmp" class="form-control" readonly />
                <input type="hidden" name="qmp" />
            </div>
        </div>


    </div>

    <hr />

    <h5>QUANTIDADE TOTAL DE CEPAC (QT)</h5>

    <div class="form-group">
        <div class="col-md-3 input-group">
            <input type="text" id="ae-qt" name="qt" class="form-control" readonly />
            <input type="hidden" name="qt" />
        </div>
        <label class="col-md-12">QT = QAD + QMP</label>

    </div>
</form>