﻿
@{
    Layout = null;
}

<script src="~/Scripts/app/calculo/CalculoFariaLima.js"></script>

<form action="@Url.Action("ImprimirSimulacao")" method="post" id="frm-simulacao-fl" role="form" class="form-horizontal">
    <input type="hidden" id="fl-idOperacaoUrbana" name="idOperacaoUrbana" value="2" />
    <div class="form-group">
        <label class="col-md-10 col-md-pull-2 control-label">
            POTENCIAL ADICIONAL DE CONSTRUÇÃO PELO AUMENTO DO COEFICIENTE DE APROVEITAMENTO?
        </label>
        <div class="radio col-md-2 col-md-offset-1">
            <label>
                <input type="radio" name="aumentoAproveitamento" id="aumentoAproveitamentoN" value="0" checked required>
                Não
            </label>
        </div>
        <div class="radio col-md-2">
            <label>
                <input type="radio" name="aumentoAproveitamento" id="aumentoAproveitamentoS" value="1" required>
                Sim
            </label>
        </div>
    </div>

    <!-- Apr e Apnr para categoria MISTO -->

    <div id="fl-calculo-qad" style="display:none;">

        <input type="hidden" id="fl-f1" name="f1" />
        <input type="hidden" id="fl-f1r" />
        <input type="hidden" id="fl-f1nr" />
        <input type="hidden" id="fl-f2" name="f2" />
        <input type="hidden" id="fl-f3" name="f3" />
        <input type="hidden" id="fl-f3r" />
        <input type="hidden" id="fl-f3nr" />

        <div class="form-group">
            <label class="col-md-2 control-label">CA Básico</label>
            <div class="col-md-3">
                <input type="text" id="fl-caBasico" name="caBasico" class="form-control" readonly />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">CA Projeto</label>
            <div class="col-md-3">
                <input type="text" id="fl-caProjeto" name="caProjeto" class="form-control parametro-leitura" mask="tax" />
            </div>
        </div>

        <div id="fl-area-proporcional">
            <div class="form-group">
                <label class="col-md-2 control-label">Área Proporcional Residencial (ApR)</label>
                <div class="col-md-3 input-group">
                    <input type="text" id="fl-apr" name="apr" class="form-control parametro-leitura" mask="money" />
                    <span class="input-group-addon">%</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">Área Proporcional Não Residencial (ApnR)</label>
                <div class="col-md-3 input-group">
                    <input type="text" id="fl-apnr" name="apnr" class="form-control parametro-leitura" readonly />
                    <input type="hidden" name="apnr" />
                    <span class="input-group-addon">%</span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Área do Terreno Original (Ato*)</label>
            <div class="col-md-3 input-group">
                <input type="text" id="fl-ato" name="ato" class="form-control" readonly />
                <input type="hidden" name="ato" />
                <span class="input-group-addon">m²</span>
            </div>
        </div>

        <h5>Cálculo da Área Construída Computável Adicional (ACA)</h5>

        <div class="form-group">
            <label class="col-md-12">ACA = (Ato X CA Projeto) - (Ato X CA Básico)</label>
            <div class="col-md-3">
                <input type="text" id="fl-aca" name="aca" class="form-control" readonly />
                <input type="hidden" name="aca" />
            </div>
        </div>

        <h4>I1 - Incentivo Remembramento</h4>

        <div class="form-group">
            <label class="col-md-2 control-label">Área Remembrada (ARMB)</label>
            <div class="col-md-3 input-group">
                <input type="text" id="fl-armb" name="armb" class="form-control parametro-leitura" mask="money" />
                <span class="input-group-addon">m²</span>
            </div>
        </div>

        <h5>Cálculo de Incentivo de Remembramento (I1)</h5>

        <div class="form-group">
            <label class="col-md-12">Armb < 2.500,00 -> I1 = 0 (NÃO SE APLICA)</label>
            <label class="col-md-12">Armb ≥ 2.500,00 -> I1 = { 20:100 x Armb }</label>
            <div class="col-md-3 input-group">
                <input type="text" id="fl-i1" name="i1" class="form-control" readonly />
                <input type="hidden" name="i1" />
                <span class="input-group-addon">m²</span>
            </div>
        </div>

        <!-- Se Ato < 2000 esconder -->
        <h4>I2 - Incentivo de Fruição Pública do Pavimento Térreo</h4>

        <div class="form-group">
            <label class="col-md-12 col-md-pull-2 control-label">
                O pavimento térreo será provido de áreas destinadas à circulação e atividades de uso aberto ao público?
            </label>
            <div class="radio col-md-2 col-md-offset-1">
                <label>
                    <input type="radio" name="usoPublico" id="usoPublicoN" value="0" class="parametro-leitura" checked required>
                    Não
                </label>
            </div>
            <div class="radio col-md-2">
                <label>
                    <input type="radio" name="usoPublico" id="usoPublicoS" value="1" class="parametro-leitura" required>
                    Sim
                </label>
            </div>
        </div>
        <p>O pavimento térreo do empreendimento deverá ser provido de áreas destinadas à circulação e atividades de uso aberto ao público, com projeto devidamente aprovado pela CTLU - Câmara Técnica de Legislação Urbanística</p>
        <!--  -->

        <h5>CÁLCULO DA QUANTIDADE NECESSÁRIA DE CEPACs PARA CONSTRUÇÃO ADICIONAL</h5>

        <div class="form-group">
            <label class="col-md-12">QAD = (Aca - I1 - I2) / F1</label>
            <div class="col-md-3 input-group">
                <input type="text" id="fl-qad" name="qad" class="form-control" readonly />
                <input type="hidden" name="qad" />
                <span class="input-group-addon">m²</span>
            </div>
        </div>
    </div>

    <hr />

    <div class="form-group">
        <label class="col-md-12">
            MODIFICAÇÃO DE USO E/OU DE GABARITO DE EDIFICAÇÃO?
        </label>
        <div class="radio col-md-2 col-md-offset-1">
            <label>
                <input type="radio" name="modificacaoUso" id="modificacaoUsoN" value="0" class="parametro-leitura" checked>
                Não
            </label>
        </div>
        <div class="radio col-md-2">
            <label>
                <input type="radio" name="modificacaoUso" id="modificacaoUsoS" value="1" class="parametro-leitura">
                Sim
            </label>
        </div>
    </div>

    <div id="fl-calculo-qmp" style="display:none;">

        <div class="form-group">
            <label class="col-md-2 control-label">Área Terreno Atingida por Desapropriação Total (ATD)</label>
            <div class="col-md-3 input-group">
                <input type="text" id="fl-atdc-2" class="form-control parametro-leitura" mask="money" />
                <span class="input-group-addon">m²</span>
            </div>
        </div>

        <h5>CÁLCULO DA QUANTIDADE NECESSÁRIA DE CEPACs PARA MUDANÇA DE USO E PARÂMETROS URBANÍSTICOS (QMP)</h5>

        <div class="form-group">
            <label class="col-md-12">QMP = (ATO - ATD) / F2</label>
            <div class="col-md-3 input-group">
                <input type="text" id="fl-qmp" name="qmp" class="form-control" readonly />
                <input type="hidden" name="qmp" />
            </div>
        </div>

    </div>

    <hr/>

    <div class="form-group">
        <label class="col-md-12">
            AUMENTO DA TAXA DE OCUPAÇÃO?
        </label>
        <div class="radio col-md-2 col-md-offset-1">
            <label>
                <input type="radio" name="aumentoTaxaOcupacao" id="aumentoTaxaOcupacaoN" value="0" class="parametro-leitura" checked>
                Não
            </label>
        </div>
        <div class="radio col-md-2">
            <label>
                <input type="radio" name="aumentoTaxaOcupacao" id="aumentoTaxaOcupacaoS" value="1" class="parametro-leitura">
                Sim
            </label>
        </div>
    </div>

    <div id="fl-calculo-qto" style="display:none;">

        <div class="form-group">
            <label class="col-md-2 control-label">Taxa de Ocupação Máxima (TO LPUOS)</label>
            <div class="col-md-3 input-group">
                <input type="text" id="fl-tolpuos" class="form-control parametro-leitura" mask="money" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">TO Projeto</label>
            <div class="col-md-3 input-group">
                <input type="text" id="fl-toprojeto" class="form-control parametro-leitura" mask="money" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Área de Projeção da Edificação sobre o terreno (APE)</label>
            <div class="col-md-3 input-group">
                <input type="text" id="fl-ape" name="ape" class="form-control parametro-leitura" mask="money" />
                <span class="input-group-addon">m²</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Área Adicional de Projeção da Edificação sobre o terreno (AAPE)</label>
            <div class="col-md-3 input-group">
                <input type="text" id="fl-aape" name="aape" class="form-control parametro-leitura" readonly />
                <input type="hidden" name="aape" />
                <span class="input-group-addon">m²</span>
            </div>
        </div>

        <h5>CÁLCULO DA QUANTIDADE NECESSÁRIA DE CEPACS PARA AUMENTO DA TAXA DE OCUPAÇÃO (QMP)</h5>

        <div class="form-group">
            <label class="col-md-12">QTO = AAPE / F3</label>
            <div class="col-md-3 input-group">
                <input type="text" id="fl-qto" name="qto" class="form-control" readonly />
                <input type="hidden" name="qto" />
            </div>
        </div>

    </div>

    <hr />

    <h5>QUANTIDADE TOTAL DE CEPAC (QT)</h5>

    <div class="form-group">
        <div class="col-md-3 input-group">
            <input type="text" id="fl-qt" name="qt" class="form-control" readonly />
            <input type="hidden" name="qt" />
        </div>
        <label class="col-md-12">QT = QAD + QMP + QTO</label>

    </div>
</form>