﻿
@{
    ViewBag.Title = "ParametroOperacaoUrbana";
}

<script src="~/Scripts/app/ParametroOperacaoUrbana.js"></script>

<h2>Edição de Fórmulas para Cálculo de Cepac</h2>

<form class="form-horizontal">
    <div class="form-group">
        <label for="operacaoUrbana" class="col-md-2 control-label">Operação Urbana</label>
        <div class="col-md-10">
            <select class="form-control" id="operacaoUrbana">
                <option value="">- Selecionar -</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="operacaoUrbana" class="col-md-2 control-label">Resultado</label>
        <div class="col-md-10">
            <select class="form-control" id="resultado">
                <option value="">- Selecionar -</option>
            </select>
        </div>
    </div>

    <div class="form-group" id="selecaoParametros">
        <label for="operacaoUrbana" class="col-md-2 control-label">Parâmetro</label>
        <div class="col-md-4">
            <select class="form-control" id="parametro">
                <option value="">- Selecionar -</option>
            </select>
        </div>
        <div class="col-md-6">
            <input type="button" id="btnAddParametro" class="btn-success" value="Incluir" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label" for="formula-montada">Fórmula : </label>
        <div class="col-md-10">
            <span class="col-md-1" id="formula-resultado"></span>
            <label class="col-md-9" id="formula-montada"></label>
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-2">
            <input type="button" id="btnSave" class="btn-success form-control" value="Finalizar" />
        </div>
        <div class="col-md-2">
            <input type="button" id="btnReset" class="btn-danger form-control" value="Limpar" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <span class="col-md-10" id="msg-status"></span>
        </div>
    </div>

</form>