﻿@model OperacoesUrbanas.Models.FormulariosRelatorios.Rosto

<!DOCTYPE html>
<body>
    <h2>FOMULÁRIO DE VINCULAÇÃO DE CEPAC</h2>

    <div>
        <h4>1. OPERAÇÃO URBANA CONSORCIADA @Model.nomeOperacaoUrbana</h4>
        <table>
            <tr>
                <th>Setor</th>
                <td>@Model.nomeSetor</td>
            </tr>
            <tr>
                <th>Subsetor</th>
                <td>@Model.nomeSubSetor</td>
            </tr>
        </table>
    </div>

    <hr />

    <div>
        <h4>2. EMPREENDIMENTO</h4>
        <table>
            <tr>
                <th>Cat. Uso</th>
                <td>@Model.categoriaUso</td>
            </tr>
            <tr>
                <th>Área Construída Computável Adicional</th>
                <td>@Model.aca</td>
            </tr>
            <tr>
                <th>Modificação de Uso e Parâmetros Urbanísticos</th>
                <td>@Model.mupu</td>
            </tr>
            <tr>
                <th>Aumento da Taxa de Ocupação</th>
                <td>@Model.aumentoTaxaOcupacao</td>
            </tr>
        </table>
    </div>

    <hr />

    <div>
        <h4>3. INTERESSADO</h4>
        <table>
            @foreach (var interessado in Model.listaInteressados)
            {
                <tr>
                    <th colspan="2">@interessado.nome</th>
                </tr>
                <tr>
                    <th colspan="2">
                    @{ 
                        if(interessado.cpf != null && interessado.cpf != "")
                        {
                            Html.Raw(interessado.cpf);
                        }else
                        {
                            Html.Raw(interessado.cnpj);
                        }
                    }
                    </th>
                </tr>
                <tr>
                    <th>Endereço</th>
                    <td>@interessado.endereco</td>
                </tr>
                <tr>
                    <th>Telefone</th>
                    <td>@interessado.telefone</td>
                </tr>
                <tr>
                    <th>E-Mail</th>
                    <td>@interessado.email</td>
                </tr>
            }
        </table>
    </div>

    <hr />

    <div>
        <h4>4. CEPAC</h4>

        <table>
            <tr>
                <th>QUANTIDADE PARA ÁREA ADICIONAL DE CONSTRUÇÃO</th>
                <td>@Model.qad</td>
                <td>CEPACs</td>
            </tr>
            <tr>
                <th>QUANTIDADE PARA PARÂMETROS URBANÍSTICOS</th>
                <td>@Model.qmp</td>
                <td>CEPACs</td>
            </tr>
            <tr>
                <th>QUANTIDADE PARA TAXA DE OCUPAÇÃO</th>
                <td>@Model.qto</td>
                <td>CEPACs</td>
            </tr>
            <tr>
                <th>QUANTIDADE TOTAL</th>
                <td>@Model.qt</td>
                <td>CEPACs</td>
            </tr>
            <tr>
                <th colspan="3">PROPRIETÁRIO DOS CEPACs</th>
                @{
                    if(Model.proprietarioInteressado != null && Model.proprietarioInteressado.Equals("1"))
                    {
                        Html.Raw("<td colspan\"3\">O INTERESSADO é PROPRIETÁRIO DOS CEPACs<td>");
                    }else
                    {
                        foreach(var proprietario in Model.listaProprietarios)
                        {
                            Html.Raw("<th>Nome</th>");
                            Html.Raw(String.Concat("<td colspan=\"2\">", proprietario.nome, "</td>"));
                            Html.Raw(String.Concat("<th>", proprietario.cpf != "" ? "CPF" : "CNPJ", "</th>"));
                            Html.Raw(String.Concat("<td colspan=\"2\">", proprietario.cpf != "" ? proprietario.cpf : proprietario.cnpj, "</td>"));
                        }
                    }
                }
            </tr>
        </table>
    </div>

    <hr />

    <div>
        <h4>5. CONTATO</h4>
        <table>
            @foreach (var contato in Model.listaContatos)
            {
                <tr>
                    <th>Nome</th>
                    <td>@contato.nome</td>
                </tr>
                <tr>
                    <th>Telefone 1</th>
                    <td>@contato.telefone</td>
                </tr>
                <tr>
                    <th>Telefone 2</th>
                    <td>@contato.telefone2</td>
                </tr>
                <tr>
                    <th>E-Mail</th>
                    <td>@contato.email</td>
                </tr>
            }
        </table>
    </div>

    <hr />

</body>