﻿<div class="quadro-titulo">
    <h2>Sistema Operações Urbanas Consorciadas</h2>
</div>
<div class="row quadro-informativo">
    <div class="col-md-12">
        <p>
            Com o objetivo de aprimorar os Procedimentos para vinculação de CEPAC, a SP-Urbanismo apresenta o <b>Sistema Operações Urbanas Consorciadas - SISOUC</b>
        </p>
        <p>
            Elaborado e desenvolvido pela própria SP-Urbanismo, parte do SISOUC foi projetado para o atendimento do público externo (SISOUC internet), com o intuito de garantir o correto preenchimento dos documentos modelo exigidos por Lei e a correta instrução do requerimento de Certidão de Pagamento de Outorga Onerosa em CEPAC, além de disponibilizar uma calculadora de CEPAC on-line.
        </p>
        <p>
            O SISOUC internet oferece ao usuário as seguintes funcionalidades:
        </p>
        <ol>
            <li>Simulação de Cálculo da quantidade de CEPAC necessária para participação em OUCs</li>
            <li>Preenchimento de dados sistematizado com geração automática dos documentos modelo exigidos por Lei</li>
            <li>Checklist da documentação para correta instrução do requerimento de Certidão de Pagamento de Outorga Onerosa em CEPAC</li>
        </ol>
    </div>
</div>

<div class="row quadro-sub-titulo">
    <div class="col-md-12">
        <h4>
            Previamente à utilização do SISOUC, consulte:
        </h4>
    </div>
    <div class="col-md-6">
        <h4 class="titulo-agespraiada">OUC Água Espraiada</h4>
        <p>
            <a>Art. 26 a 29 do Decreto 53.364/2012</a>
            <br/>
            <a>Procedimentos para vinculação de CEPAC</a>
        </p>
    </div>
    <div class="col-md-6">
        <h4 class="titulo-farialima">OUC Faria Lima</h4>
        <p>
            <a>Art. 20 a 23 do Decreto 53.094/2012 </a>
            <br/>
            <a>Procedimentos para vinculação de CEPAC</a>
        </p>
    </div>
    <br/>   
    <div class="col-md-12">
        <p>
            <a href="@Url.Action("Orientacoes")">ORIENTAÇÕES GERAIS PARA UTILIZAÇÃO DO SISOUC</a>
        </p>
    </div>
    

</div>
