﻿
@{
    ViewBag.Title = "Orientações Gerais";
}

<script>
    $(document).ready(function () {
        $('p[id^=link-passo-').click(function () {
            
            var id = $(this).attr('id');

            var x = id.split('-');
            var indice = x[2] ? x[2] : '0';
            if (indice != '0') {
                var show = '#passo-' + indice;
                $('div[id^=passo-').slideUp();
                $(show).slideDown();
            }
            
        });
    });

</script>

<h2>@ViewBag.Title</h2>

<p>Qualquer Pessoa Física ou Jurídica poderá acessar o SISOUC efetuando um <a>cadastro como usuário</a>.</p>

<p id="link-passo-1">⊕ 1º PASSO</p>
<div id="passo-1" style="display:none">
    <p>CÁLCULO DA QUANTIDADE DE CEPAC necessária, conforme benefícios pleiteados: basta inserir as informações solicitadas para que o SISOUC efetue o cálculo, conforme requisito legal.</p>
</div>

<p id="link-passo-2">⊕ 2º PASSO</p>
<div id="passo-2" style="display:none">
    <p>
        <h5>FINALIZAR ou PROSSEGUIR ? O usuário poderá optar entre:</h5>
        1. FINALIZAR: Salvar e imprimir o cálculo, FINALIZANDO a utilização do SISOUC apenas como um Simulador de Cálculo. O cálculo poderá ser impresso; as informações não serão armazenadas em nossa base de dados.
        <hr/>
        2. PROSSEGUIR, optando pelo PREENCHIMENTO COMPLETO PARA PROPOSTA DE PARTICIPAÇÃO.
        <br/>
        Com a inserção de todos os dados solicitados será possível imprimir os seguintes documentos, para posterior protocolamento do requerimento de obtenção de Certidão de Pagamento de Outorga Onerosa em CEPACs, na SP-Urbanismo:
        <br/>
         Formulário<br />
         Anexo I <br />
         Anexo II <br />
         Anexo III <br />
         Tabela Resumo <br />
         Checklist de Documentos<br />
    </p>
</div>

<p id="link-passo-3">⊕ INFORMAÇÃO IMPORTANTE</p>
<div id="passo-3" style="display:none">
    <p>
        <h5>Ao optar pelo PREENCHIMENTO COMPLETO PARA PROPOSTA DE PARTICIPAÇÃO:</h5>
        1. Certifique-se de que TODAS as informações fornecidas, principalmente, referentes ao imóvel objeto foram corretamente preenchidas, pois essas serão validadas para a impressão dos Anexos I, II e III e verificadas conforme documentação comprobatória a ser anexada e legislação pertinente.
        <hr/>
        2. Tenha em mãos TODAS as informações relativas à:
        <br/>
        * CLASSIFICAÇÃO CONFORME OPERAÇÃO URBANA CONSORCIADA<br />
        * CLASSIFICAÇÃO CONFORME LEGISLAÇÃO URBANÍSTICA VIGENTE (LPUOS/ZONEAMENTO)<br />
        * EMPREENDIMENTO<br />
        * IMÓVEL<br />
        * INTERESSADO<br />
        * PROPRIETÁRIO DOS CEPACs<br />
        * CONTATO/ PREPOSTO<br />
        <hr/>
        3. A IMPRESSÃO DOS DOCUMENTOS NÃO GARANTE O ESTOQUE. A data do protocolamento do requerimento de Certidão de Pagamento de Outorga Onerosa em CEPACs na SP-Urbanismo determinará a respectiva ordem de prioridade na utilização dos estoques definidos na Lei de cada Operação Urbana Consorciada.
    </p>
</div>


