﻿@model OperacoesUrbanas.Models.Proposta

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Proposta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.contato.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contato.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.interessado.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.interessado.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.proprietarioCepac.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.proprietarioCepac.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.subCategoriaUso.descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subCategoriaUso.descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.subSetor.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subSetor.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipoCertidao.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoCertidao.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipoPedido.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoPedido.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.zonaAnterior.descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zonaAnterior.descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.zonaAtual.descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zonaAtual.descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model._acca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._acca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model._pedidoAlvara)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._pedidoAlvara)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.taxaOcupacaoMaxima)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.taxaOcupacaoMaxima)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gabarito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gabarito)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.caBasico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.caBasico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.caProjeto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.caProjeto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.areaRealTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.areaRealTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.areaEscrituraTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.areaEscrituraTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model._desapropriacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._desapropriacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model._potencialAdicional)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._potencialAdicional)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.qtdeCepac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.qtdeCepac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.calculoAcca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.calculoAcca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dt_cadastro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dt_cadastro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dt_alteracao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dt_alteracao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_user_cadastro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_user_cadastro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_user_alteracao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_user_alteracao)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
