﻿@model IEnumerable<OperacoesUrbanas.Models.Proposta>
@using OperacoesUrbanas.Models
@{
    ViewBag.Title = "Lista de Propostas";
}

<h2>@ViewBag.Title</h2>

<a class="btn btn-default" href="@Url.Action("Nova")">Nova Proposta</a>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.subSetor.setor.operacaoUrbana)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.qtdeCepac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_user_cadastro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dt_cadastro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dt_alteracao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.subSetor.setor.operacaoUrbana.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.qtdeCepac)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_user_cadastro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dt_cadastro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dt_alteracao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status.descricao)
        </td>

        <td>
            @switch (item.status.id)
            {
                case (int)StatusEnum.CALCULADA:
                    @Html.ActionLink("Continuar", "Nova", new { id = item.id }, new { @class = "btn btn-default btn-sm" });
                    break;
                case (int)StatusEnum.TRANSMITIDA:
                    @Html.ActionLink("Retificar", "Nova", new { id = item.id }, new { @class="btn btn-default btn-sm" });
                    break;
                case (int)StatusEnum.EM_ANALISE:
                    @Html.ActionLink("Encerrar", "Nova", new { id = item.id });
                    break;
                default:
                    @Html.ActionLink("Ops", "Nova", new { id = item.id });
                    break;
            }

            @Html.ActionLink("Cancelar", "Delete", new { id=item.id }, new { @class = "btn btn-danger btn-sm" })
        </td>
    </tr>
}

</table>
