﻿@model OperacoesUrbanas.Models.Proposta

@{
    ViewBag.Title = "Proposta";
}

<link href="~/Content/Proposta.css" type="text/css" rel="stylesheet">
<script src="~/Scripts/app/model/Pessoa.js"></script>
<script src="~/Scripts/app/model/Imovel.js"></script>
<script src="~/Scripts/app/model/Proposta.js"></script>
<script src="~/Scripts/app/controller/PropostaController.js"></script>
<script src="~/Scripts/app/lib/mask.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
<script src="~/Scripts/html2canvas.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jspdf/0.9.0rc1/jspdf.min.js"></script>

<h3>@ViewBag.Title</h3>


<form id="frm-passo-1" data-toggle="validator" role="form" class="form-horizontal primeiro-passo">
    
    <input type="hidden" id="tipoCertidao" name="tipoCertidao" value="1" />
    <input type="hidden" id="valoresParametros" name="valoresParametros" value="1" />

    <div id="etapa1" class="primeiro-passo">
        <h4>1 - Operação Urbana Consorciada (OUC)</h4>

        <div class="form-group" id="divContainerOperacaoUrbana">
            <div class="col-md-2 col-md-push-1" id="divOperacaoUrbana"></div>

            <label for="setor" id="label-setor" class="col-md-2 control-label" style="display:none;">Setor</label>
            <div class="col-md-3" id="divSetor"></div>

            <label for="subSetor" id="label-sub-setor" class="col-md-2 control-label" style="display:none;">Sub-Setor</label>
            <div class="col-md-3" id="divSubSetor"></div>

        </div>


        <!--
        <div class="form-group" id="divContainerOperacaoUrbana">
            <label class="col-md-3 control-label">Operação Urbana</label>
            <div class="col-md-9" id="divOperacaoUrbana"></div>
        </div>

        <div class="form-group" id="divContainerSetor">
            <label for="setor" class="col-md-3 control-label">Setor</label>
            <div class="col-md-9" id="divSetor"></div>

            <div class="col-md-4">
                <select class="form-control" id="setor" required>
                    <option value=""></option>
                </select>
            </div>

        </div>

        <div class="form-group" id="divContainerSubSetor">
            <label for="subSetor" class="col-md-3 control-label">Sub-Setor</label>
            <div class="col-md-9" id="divSubSetor"></div>

            <div class="col-md-4">
                <select class="form-control" id="subSetor" required>
                    <option value=""></option>
                </select>
            </div>

        </div>
        -->
    </div>

    <a href="#link-etapa2" class="btn btn-info btn-sm marcador-etapa">>></a>

    <hr id="link-etapa2" />

    <div id="etapa2" class="primeiro-passo">

        <h4>2 - Projeto e Classificação conforme LPUOS (Lei de Parcelamento, Uso e Ocupaçao do solo)</h4>

        <div class="form-group">
            <label for="categoriaUso" class="col-md-2 control-label">Categoria de Uso</label>
            <div class="col-md-4">
                <select class="form-control" id="categoriaUso" required>
                    <option value=""></option>
                </select>
            </div>

            <label for="subCategoriaUso" class="col-md-2 control-label">Sub-Categoria de Uso</label>
            <div class="col-md-4">
                <select class="form-control" id="subCategoriaUso">
                    <option value=""></option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="zonaAtual" class="col-md-2 control-label">Zona Atual</label>
            <div class="col-md-4">
                <select class="form-control" id="zonaAtual" required>
                    <option value=""></option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="gabarito" class="col-md-2 control-label">Gabarito</label>
            <div class="col-md-4">
                <input type="text" id="gabarito" class="form-control" mask="money" required />
                <div class="help-block with-errors"></div>
            </div>

            <label for="taxaOcupacaoMaxima" class="col-md-2 control-label">Taxa de Ocupação Máxima</label>
            <div class="col-md-4">
                <input type="text" id="taxaOcupacaoMaxima" class="form-control" mask="money" required />
                <div class="help-block with-errors"></div>
            </div>
        </div>

        <div class="form-group">
            <label for="caBasico" class="col-md-2 control-label">Coeficiente de Aproveitamento Básico</label>
            <div class="col-md-4">
                <input type="text" id="caBasico" class="form-control parametro-leitura" mask="tax" required />
                <div class="help-block with-errors"></div>
            </div>
        </div>

    </div>

    <a href="#link-etapa3" class="btn btn-info btn-sm marcador-etapa">>></a>

    <hr id="link-etapa3" />

    <div id="etapa3" class="primeiro-passo">

        <h4>3 - Empreendimento</h4>

        <h5>Benefícios Pleiteados</h5>

        <!--
        <div class="form-group checkbox">
            <label class="col-md-6 col-md-push-2">
                <input type="checkbox" id="acca" name="acca" autocomplete="off"> Área Construída Computável Adicional
            </label>
        </div>
        -->

        <div class="form-group">
            <label for="categoriaUsoAcca" class="col-md-2 control-label">Área Construída Computável Adicional</label>
            <div class="col-md-10" id="divCategoriaUsoAcca">
                <div class="radio">
                    <label><input type="radio" name="categoriaUsoAcca" id="categoriaUsoAcca0" value="0">NÃO APLICÁVEL</label>
                </div>
            </div>
        </div>



        <div class="form-group checkbox">
            <label class="col-md-6 col-md-push-2">
                <input type="checkbox" id="mupu" name="mupu" autocomplete="off"> Modificação de Uso e Parâmetros Urbanísticos
            </label>
        </div>

        <div class="form-group checkbox" id="div-aumento-tx-ocupacao" style="display:none;">
            <label class="col-md-6 col-md-push-2">
                <input type="checkbox" id="aumentoTaxaOcupacao" name="aumentoTaxaOcupacao" autocomplete="off"> Aumento da Taxa de Ocupação
            </label>
        </div>

    </div>

    <a href="#link-etapa4" class="btn btn-info btn-sm marcador-etapa">>></a>

    <hr id="link-etapa4" />

    <div id="etapa4" class="primeiro-passo">

        <h4>4 - Imóveis</h4>

        <div id="divImoveis">
            <!-- addImovel() -->
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <input type="button" id="btnAddImovel" class="btn btn-sm btn-success" value="Adicionar" />
            </div>
            <div class="col-md-2">
                <input type="button" id="btnFinalizarImovel" class="btn btn-sm btn-info" value="Finalizar" disabled="disabled" />
            </div>
        </div>

        <div class="form-group">
            <label for="areaRealTotal" class="col-md-2 control-label">Área Real Total</label>
            <div class="col-md-3 input-group">
                <input type="text" id="areaRealTotal" class="form-control" value="0" readonly />
                <span class="input-group-addon">m²</span>
            </div>
        </div>

        <div class="form-group">
            <label for="areaEscrituraTotal" class="col-md-2 control-label">Área Escritura Total</label>
            <div class="col-md-3 input-group">
                <input type="text" id="areaEscrituraTotal" class="form-control" value="0" readonly />
                <span class="input-group-addon">m²</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-12 col-md-pull-2 control-label">
                O imóvel (Área Total) é atingido por desapropriação em função de melhoramento viário e/ou outro tipo de desapropriação?
            </label>
            <div class="radio col-md-2 col-md-offset-1">
                <label>
                    <input type="radio" name="pedidoAlvara" id="pedidoAlvaraN" class="parametro-leitura" value="0" required>
                    Não
                </label>
            </div>
            <div class="radio col-md-2">
                <label>
                    <input type="radio" name="pedidoAlvara" id="pedidoAlvaraS" class="parametro-leitura" value="1" required>
                    Sim
                </label>
            </div>
        </div>

        <div class="form-group" id="div-ato-original" style="display:none;">
            <label for="ato-original" class="col-md-2 control-label">Ato</label>
            <div class="col-md-4">
                <input type="text" id="ato-original" class="form-control" readonly/>
            </div>
        </div>

        <div id="div-desapropriacao" style="display:none;">
            <div class="form-group">
                <label for="atdmv" class="col-md-2 control-label">Área Terreno atingida por Melhoramento Viário (ATDMV)</label>
                <div class="col-md-3 input-group">
                    <input type="text" id="atdmv" class="form-control parametro-leitura-area" mask="money" />
                    <span class="input-group-addon">m²</span>
                </div>
            </div>

            <div class="form-group">
                <label for="atdd" class="col-md-2 control-label">Área Terreno atingida por Desapropriação (ATDD)</label>
                <div class="col-md-3 input-group">
                    <input type="text" id="atdd" class="form-control parametro-leitura-area" mask="money" />
                    <span class="input-group-addon">m²</span>
                </div>
            </div>

            <div class="form-group">
                <label for="atd" class="col-md-2 control-label">Área Terreno atingida por Desapropriação Total (ATD)</label>
                <div class="col-md-3 input-group">
                    <input type="text" id="atd" class="form-control" readonly />
                    <span class="input-group-addon">m²</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-12 col-md-pull-8 control-label">
                    A área atingida por desapropriação será doada?
                </label>
                <div class="radio col-md-2 col-md-offset-1">
                    <label>
                        <input type="radio" name="doacaoDesapropriacao" id="doacaoDesapropriacaoN" value="0" class="parametro-leitura-area">
                        Não
                    </label>
                </div>
                <div class="radio col-md-2">
                    <label>
                        <input type="radio" name="doacaoDesapropriacao" id="doacaoDesapropriacaoS" value="1" class="parametro-leitura-area">
                        Sim
                    </label>
                </div>
            </div>

            <div class="form-group" id="div-ato-acca" style="display:none;">
                <label for="ato-acca" class="col-md-2 control-label">Ato</label>
                <div class="col-md-4">
                    <input type="text" id="ato-acca" class="form-control parametro-leitura-area" />
                </div>
            </div>

            <div id="div-sem-doacao" style="display:none;">
                <div class="form-group">
                    <label for="atsd" class="col-md-2 control-label">Cálculo de ATO sem doação  (ATSD)</label>
                    <div class="col-md-3 input-group">
                        <input type="text" id="atsd" class="form-control" readonly />
                        <span class="input-group-addon">m²</span>
                        <span class="input-group-addon">?</span>
                    </div>
                </div>
            </div>

        </div>

        <input type="hidden" id="ato" />

    </div>

</form>

<a href="#link-etapa5" class="btn btn-info btn-sm marcador-etapa">>></a>

<hr id="link-etapa5" />


    <div id="etapa5" class="primeiro-passo">

        <h4>5 - Cálculo da Quantidade de CEPACs</h4>

        <div id="calculo-op">
            <p>Selecione uma Operação Urbana para calcular a quantidade de CEPACs</p>
        </div>

        <div id="calculo-op-1">

            @RenderPage("Calculos/AguaEspraiada.cshtml")

        </div>

        <div id="calculo-op-2">

            @RenderPage("Calculos/FariaLima.cshtml")

        </div>


    </div>

    <div class="form-group" id="botoes-conclusao" style="display:none;">
        <div class="col-md-2">
            <input type="button" id="btnFinalizar" data-toggle="modal" data-target="#dlgFinalizar" class="btn-info form-control" value="Finalizar" />
        </div>
        <div class="col-md-2">
            <input type="button" id="btnProsseguir" data-toggle="modal" data-target="#dlgValidar" class="btn-success form-control" value="Prosseguir" />
        </div>
    </div>

<form id="frm-passo-2" data-toggle="validator" role="form" class="form-horizontal">



    <div id="etapa6" class="segundo-passo">
        <h4>6 - Imóveis - Complemento de dados</h4>

        <div id="divImoveisCompl">
            <!-- addImovel() -->
        </div>

    </div>

    <div id="etapa7" class="segundo-passo">
        <h4>7 - Interessados</h4>
        <p>Pessoa Física ou Jurídica que inicia o processo ou nele figure, o mesmo no cadastro SIMPROC, a ser citado em publicações no DOC</p>

        <div id="divInteressados">
            <!-- addInteressado() -->
        </div>

        <div class="form-group" style="display:none">
            <div class="col-md-2">
                <input type="button" id="btnAddInteressado" class="btn btn-sm btn-success" value="Adicionar" />
            </div>
        </div>

    </div>

    <div id="etapa8" class="segundo-passo">
        <h4>8 - Proprietário(s) do(s) CEPAC(s)</h4>
        <p>Pessoa Física ou Jurídica, proprietário (s) dos CEPAC’s a serem utilizados: quando se tratar de terceiros, informar os dados solicitados para preenchimento do <a>ANEXO III - Autorização para utilização de CEPACs</a> </p>

        <div class="form-group checkbox" id="div-proprietario-interessado">
            <label class="col-md-6 col-md-push-2">
                <input type="checkbox" id="proprietarioInteressado" name="proprietarioInteressado" autocomplete="off">
                O interessado é o proprietário dos CEPACs
            </label>
        </div>

        <div id="divProprietarios">
            <!-- addProprietario() -->
        </div>

        <div class="form-group" id="divAddProprietarios">
            <div class="col-md-2">
                <input type="button" id="btnAddProprietario" class="btn btn-sm btn-success" value="Adicionar" />
            </div>
        </div>

    </div>

    <div id="etapa9" class="segundo-passo">
        <h4>9 - Contato</h4>
        <p>
            Pessoa Física, responsável pelo acompanhamento do processo: quando se tratar de terceiros, designado e autorizado pelo INTERESSADO neste campo (para a prática de atos formais anexar PROCURAÇÃO).
        </p>

        <div id="divContatos">
            <!-- addContato() -->
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <input type="button" id="btnAddContato" class="btn btn-sm btn-success" value="Adicionar" />
            </div>
        </div>
    </div>

</form>

<div class="form-group" id="botoes-encerramento" style="display:none;">
    <div class="col-md-2">
        <input type="button" id="btnImpressaoPrevia" data-toggle="modal" data-target="#dlgPrevia" class="btn-info form-control" value="Impressão Prévia" />
    </div>
    <div class="col-md-2">
        <input type="button" id="btnImpressaoFinal" data-toggle="modal" data-target="#dlgEncerrar" class="btn-success form-control" value="Impressão Final" />
    </div>
</div>

<form action="@Url.Action("ImprimirFrmRosto")" method="post" id="frm-rosto">
    <input type="hidden" name="nomeOperacaoUrbana" />
    <input type="hidden" name="nomeSetor" />
    <input type="hidden" name="nomeSubSetor" />
    <input type="hidden" name="acca" />
    <input type="hidden" name="mupu" />
    <input type="hidden" name="aumentoTaxaOcupacao" />
    <input type="hidden" name="aca_r" />
    <input type="hidden" name="aca_nr" />
    <input type="hidden" name="aca" />
    <input type="hidden" name="qad" />
    <input type="hidden" name="qto" />
    <input type="hidden" name="qt" />
    <input type="hidden" name="nomeUsuario" />
    <input type="hidden" name="rgUsuario" />
    <input type="hidden" name="proprietarioInteressado" value="0" />
    <input type="hidden" name="contatos" />
    <input type="hidden" name="proprietarios" />
    <input type="hidden" name="interessados" />


</form>

<!-- Modal Finalizar -->
<div class="modal fade" id="dlgFinalizar" role="dialog">
    <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Finalizar</h4>
                </div>
                <div class="modal-body">
                    <button type="button" id="btn-simular" class="btn btn-success btn-lg">Imprimir Simulação de Cálculo</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
    </div>
</div>

<!-- Modal Validar -->
<div class="modal fade" id="dlgValidar" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">IMPORTANTE</h4>
            </div>
            <div class="modal-body">
                <p class="informativo">
                Ao PROSSEGUIR no PREENCHIMENTO COMPLETO PARA PROPOSTA DE PARTICIPAÇÃO:
                    <ol>
                        <li>
                            Certifique-se de que TODAS as informações fornecidas foram corretamente preenchidas, pois essas serão validadas para o Cálculo da Quantidade de CEPAC’s, impressão dos Anexos I, II, III e verificadas conforme documentação comprobatória a ser anexada e legislação pertinente.
                        </li>
                        <li>
                            Tenha em mãos TODAS as informações relativas à:
                            <ul>
                                <li>OPERAÇÃO URBANA CONSORCIADA</li>
                                <li>CLASSIFICAÇÃO CONFORME LEGISLAÇÃO URBANÍSTICA VIGENTE (LPUOS/ZONEAMENTO)</li>
                                <li>EMPREENDIMENTO</li>
                                <li>IMÓVEL</li>
                                <li>INTERESSADO</li>
                                <li>PROPRIETÁRIO DOS CEPACs</li>
                                <li>CONTATO/ PREPOSTO</li>
                            </ul>
                        </li>
                        <li>
                            A IMPRESSÃO DOS DOCUMENTOS NÃO GARANTE O ESTOQUE. A data do protocolamento do requerimento de Certidão de Pagamento de Outorga Onerosa em CEPACs na SP-Urbanismo determinará a respectiva ordem de prioridade na utilização dos estoques definidos na Lei de cada Operação Urbana Consorciada.
                        </li>
                    </ol>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-validar" class="btn btn-success">Validar Cálculo</button>
                <button type="button" id="btn-cancelar" class="btn btn-danger" data-dismiss="modal">Voltar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Imp Previa -->
<div class="modal fade" id="dlgPrevia" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Impressão Final</h4>
            </div>
            <div class="modal-body">
                <p class="informativo">
                    Imprima, verifique e corrija eventuais erros na inserção dos dados; ao selecionar a IMPRESSÃO FINAL não será permitida a alteração de dados.
                    <ol>
                        <li><a id="lnk-frm-rosto">Formulário (Folha de Rosto)</a></li>
                        <li><a>Anexo I</a></li>
                        <li><a>Anexo II</a></li>
                        <li><a>Anexo III</a></li>
                        <li><a>Tabela Resumo</a></li>
                        <li><a>Checklist de Documentos</a></li>
                    </ol>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Voltar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Imp Final -->
<div class="modal fade" id="dlgEncerrar" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Importante</h4>
            </div>
            <div class="modal-body">
                <p class="informativo">
                    Assegurar a Quantidade Total (QtR) de CEPACs, cuja propriedade e disponibilidade serão verificadas, 
                    a fim de garantir a aceitação do requerimento para análise da proposta:
                    Necessário CEPACs livres para bloqueio, sob pena de indeferimento (§§ 1º e 5º, do Art. 22, do <a>Decreto nº 53.094/2012</a>). 
                    Caso possua CEPACs EM BOLSA, favor providenciar a RETIRADA PARA INSTITUIÇÃO DEPOSITÁRIA antes de protocolar o requerimento.
                </p>
                <hr />
                <p class="informativo">
                    <b>DECLARAÇÃO DE RESPONSABILIDADE PELO PREENCHIMENTO</b><br />
                    Declaro, sob a minha inteira responsabilidade, serem exatas e verdadeiras as informações que prestei no presente formulário.
                    Estou ciente de que a análise técnica do requerimento de Certidão de Pagamento de Outorga Onerosa em CEPAC será realizada com base nessas informações, que serão utilizadas na elaboração de documentos e que poderá ser comprometida pela inconsistência de dados ou erros de digitação.
                </p>

                <div class="form-group checkbox">
                    <label class="col-md-12">
                        <input type="checkbox" id="deAcordo" name="deAcordo" autocomplete="off">Estou de acordo com a declaração de responsabilidade
                    </label>
                </div>

                <input type="hidden" id="nomeUsuario" name="nomeUsuario" />
                <input type="hidden" id="rgUsuario" name="rgUsuario" />

            </div>
            <div class="modal-footer">
                <button type="button" id="btn-encerrar" class="btn btn-success">Enviar Proposta</button>
                <button type="button" id="btn-cancelar-encerrar" class="btn btn-danger" data-dismiss="modal">Voltar</button>
            </div>
        </div>
    </div>
</div>

<div class="loader"></div>


